/* =============================  Nav Shortcut CSS  ============================= */

/* =============================  main containter  ============================= */
 
.Shortcut_Wrapper_for_searchBox{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Shortcut_Search_containter_main_box
 {
    border: solid white 2px;
    display: flex;
    border-radius: 20px;
    width: 80vw;
    height: 50vh;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;
    gap: 20px;  */
 }

/* =============================  search input field ============================= */



/* =============================  search button  ============================= */



/* =============================  Header Contain  ============================= */
