/* =============================  Nav Shortcut CSS  ============================= */

/* =============================  main containter  ============================= */
 
.Shortcut_Wrapper_for_searchBox{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Shortcut_Search_containter_main_box
 {
    border: solid white 2px;
    display: flex;
    border-radius: 20px;
    width: 80vw;
    height: 50vh;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;
    gap: 20px;  */
 }
.Shortcut_seach_containter_image{
  width: 2vm;
  height: 120vh;
  border-radius: 100px;
}
 .Shortcut_seach_containter_image_logo{
  width: 120px;
  height: 150px;
  border-radius: 100px;
 }

/* =============================  search input field ============================= */
.Shortcut_search_field{
  width: 50vw;
  height: 7vh;
  border-radius: 20px 0px 0px 20px;
  text-align: center;
  font-size: 20px;
  background-color: 255, 255, 255, 0.01;
}

/* =============================  search button  ============================= */
.Shortcut_search_button{
  width: 13vw;
  height: 7vh;
  border-radius: 0px 20px 20px 0px;
  text-align: center;
  font-size: 20px;
  background-color:lawngreen;
}

.Shortcut_search_button:hover{
  cursor: pointer;
  background-color: rgb(209, 77, 37);
  color: white;
}


/* =============================  Header Contain  ============================= */
