/* =============================  Header Contain  ============================= */

/* header */

/* Nav */
nav{
  font-size: 2rem;
}

/* nav{

} */

/* =============================  Body Main Contain  ============================= */

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url("d11357a6-fd6a-4cfa-b90f-b38b1405fdb4.JPG");
  background-size: cover ;
  background-attachment: fixed;
  color: white;
  text-align: center;
}




/* =============================  footer Contaon  ============================= */
footer{
  background-color: aliceblue;
  color: black;
  margin: 2%;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}