/* ==========================================================
/* ==============  All Nav Global CSS =========================

/* ==========================================================


/* =============================  Header Contain  =============================

/* header */

/* Nav */
nav{
  font-size: 2rem; 
  cursor: pointer;
}

a{
  color: white;;
}

a:hover
{
  color: bisque;
}
a:visited
{
  /* color: azure; */
}
a:active
{
  color: bisque;
}

/* nav{

} */

/* =============================  Body Main (Global) Contain  ============================= */

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url("d11357a6-fd6a-4cfa-b90f-b38b1405fdb4.JPG");
  background-size: cover ;
  background-attachment: fixed;
  color: white;
  text-align: center;
}




/* =============================  footer Contaon  ============================= */
footer{
  background-color: aliceblue;
  color: black;
  margin: 2%;
} */


/* =============================  More required things  ============================= */
/* 1 onclick nav need to change the color */
/* need to show on which page you have landed and you are on at the moment */
