/* ==========================================================
/* ==============  All Nav Global CSS =========================

/* ==========================================================


/* =============================  Header Contain  =============================

/* header */

/* Nav */
nav{
  font-size: 2rem; 
  cursor: pointer;
}

a{
  color: white;;
}

a:hover
{
  color: bisque;
}
a:visited
{
  color: azure;
}
a:active
{
  color: bisque;
}

/* nav{

} */

/* =============================  Body Main (Global) Contain  ============================= */

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url("d11357a6-fd6a-4cfa-b90f-b38b1405fdb4.JPG");
  background-size: cover ;
  background-attachment: fixed;
  color: white;
  text-align: center;
  align-items: center;

  /* display: flex;
  flex-direction: column; */

  /* min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; */

  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 95vh; */
  /* display: grid; */
  /* grid-template-rows: auto 95fr 5fr; */
}

/* ============================= Main CSS ============================= */
main{
  /* min-height: 95vh; */
  /* justify-content: center; */
}

/* section{
  justify-content: center;
}

div{
  justify-content: center;
} */



/* =============================  footer Contaon  ============================= */
footer{
  background-color: aliceblue;
  color: black;
  /* margisn: 2%; */
  /* width:max(20%,99%); */

  /* align-self: flex-end; */
  /* height:min(20%,25%); */
  /* position: fixed; */
  
  /* padding: auto; */
  /* bottom: 2px; */
  /* margin-top: auto; */

  /* padding: 1rem; */
}



/* =============================  More required things  ============================= */
/* 1 onclick nav need to change the color */
/* need to show on which page you have landed and you are on at the moment */
